# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
pubspec.lock

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/**/GeneratedPluginRegistrant.java
android/**/GeneratedPluginRegistrant.kt

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.perspectivev3
ios/**/*.pbxuser
ios/**/xcuserdata
**/DerivedData/

# Misc
*.swp
.DS_Store
*.pyc
